In [1]:
# pandas 라이브러리를 Import하여 pd 로 이름지음
import pandas as pd

In [2]:
# 데이터 파일을 읽어들임.
rock_samples = pd.read_csv('rocksamples.csv')

In [3]:
rock_samples.head()

      ID   Mission    Type   Subtype  Weight (g)  Pristine (%)
0  10001  Apollo11    Soil  Unsieved       125.8         88.36
1  10002  Apollo11    Soil  Unsieved      5629.0         93.73
2  10003  Apollo11  Basalt  Ilmenite       213.0         65.56
3  10004  Apollo11    Core  Unsieved        44.8         71.76
4  10005  Apollo11    Core  Unsieved        53.4         40.31

In [4]:
#rock_samples 데이터프레임 정보 알아본다.
rock_samples.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2229 entries, 0 to 2228
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            2229 non-null   int64
 1   Mission       2229 non-null   object
 2   Type          2229 non-null   object
 3   Subtype       2226 non-null   object
 4   Weight (g)    2229 non-null   float64
 5   Pristine (%)  2229 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 104.6+ KB

In [5]:
#rock_samples 데이터프레임 행수 알아봄
rock_samples.shape[0]

2229

In [6]:
#rock_samples 데이터 프레임의 인덱스
rock_samples.index

RangeIndex(start=0, stop=2229, step=1)

In [7]:
#rock_samples 데이터프레임 열수
rock_samples.shape[1]

6

In [8]:
#rock_samples 데이터프레임의 모양을 알아본다.
rock_samples.shape

(2229, 6)

In [9]:
#rock_samples 데이터프레임의 컬럼명을 알아본다.
rock_samples.columns

Index(['ID', 'Mission', 'Type', 'Subtype', 'Weight (g)', 'Pristine (%)'], dtype='object')

In [10]:
#rock_samples 데이터프레임 컬럼들의 데이터타입을 알아본다.
rock_samples.dtypes

ID                int64
Mission          object
Type             object
Subtype          object
Weight (g)      float64
Pristine (%)    float64
dtype: object

In [11]:
# rock_samples 데이터프레임 수치 데이터의 요약 통계를 알아본다.
rock_samples.describe()

                 ID    Weight (g)  Pristine (%)
count   2229.000000   2229.000000   2229.000000
mean   52058.432032    168.253024     84.512764
std    26207.651471    637.286458     22.057299
min    10001.000000      0.000000      0.000000
25%    15437.000000      3.000000     80.010000
50%    65527.000000     10.200000     92.300000
75%    72142.000000     93.490000     98.140000
max    79537.000000  11729.000000    180.000000

In [12]:
# rock_samples 데이터프레임의 마지막 다섯행을 알아본다.
rock_samples.tail()

         ID   Mission     Type   Subtype  Weight (g)  Pristine (%)
2224  79528  Apollo17  Breccia  Regolith        2.38         100.0
2225  79529  Apollo17  Breccia  Regolith        1.84         100.0
2226  79535  Apollo17  Breccia  Regolith        1.69         100.0
2227  79536  Apollo17  Breccia  Regolith        1.66         100.0
2228  79537  Apollo17  Breccia  Regolith        1.05         100.0

## 누락값 검사

In [13]:
# 1단계 -> rock_samples 데이터프레임에 있는 모든 값이 null 인지 알아본다.
rock_samples.isnull()

         ID  Mission   Type  Subtype  Weight (g)  Pristine (%)
0     False    False  False    False       False         False
1     False    False  False    False       False         False
2     False    False  False    False       False         False
3     False    False  False    False       False         False
4     False    False  False    False       False         False
...     ...      ...    ...      ...         ...           ...
2224  False    False  False    False       False         False
2225  False    False  False    False       False         False
2226  False    False  False    False       False         False
2227  False    False  False    False       False         False
2228  False    False  False    False       False         False

[2229 rows x 6 columns]

In [14]:
#2단계 -> 1단계 결과인 데이터 프레임의 각컬럼값들을 더한다. false:0, True:1
rock_samples.isnull().sum()

ID              0
Mission         0
Type            0
Subtype         3
Weight (g)      0
Pristine (%)    0
dtype: int64

## 컬럼값 변환 : weight(g) -> weight(kg)

In [15]:
rock_samples.head(2)

      ID   Mission  Type   Subtype  Weight (g)  Pristine (%)
0  10001  Apollo11  Soil  Unsieved       125.8         88.36
1  10002  Apollo11  Soil  Unsieved      5629.0         93.73

In [16]:
rock_samples['Weight (g)']

0        125.80
1       5629.00
2        213.00
3         44.80
4         53.40
         ...
2224       2.38
2225       1.84
2226       1.69
2227       1.66
2228       1.05
Name: Weight (g), Length: 2229, dtype: float64

In [17]:
# 1단계 -> 컬럼값변환 : rock_samples['Weight (g)'] -> rock_samples['Weight (kg)]
rock_samples['Weight (g)'] = rock_samples['Weight (g)'].apply(lambda x : x * 0.001)
rock_samples['Weight (g)']

0       0.12580
1       5.62900
2       0.21300
3       0.04480
4       0.05340
         ...
2224    0.00238
2225    0.00184
2226    0.00169
2227    0.00166
2228    0.00105
Name: Weight (g), Length: 2229, dtype: float64

In [18]:
rock_samples.head()

      ID   Mission    Type   Subtype  Weight (g)  Pristine (%)
0  10001  Apollo11    Soil  Unsieved      0.1258         88.36
1  10002  Apollo11    Soil  Unsieved      5.6290         93.73
2  10003  Apollo11  Basalt  Ilmenite      0.2130         65.56
3  10004  Apollo11    Core  Unsieved      0.0448         71.76
4  10005  Apollo11    Core  Unsieved      0.0534         40.31

In [19]:
#2단계 -> 컬럼명 변환 : 'Weight(g)' -> 'Weight(kg)
rock_samples.rename(columns={'Weight (g)' : 'Weight (kg)'}, inplace=True)
rock_samples.head()

      ID   Mission    Type   Subtype  Weight (kg)  Pristine (%)
0  10001  Apollo11    Soil  Unsieved       0.1258         88.36
1  10002  Apollo11    Soil  Unsieved       5.6290         93.73
2  10003  Apollo11  Basalt  Ilmenite       0.2130         65.56
3  10004  Apollo11    Core  Unsieved       0.0448         71.76
4  10005  Apollo11    Core  Unsieved       0.0534         40.31

## 아폴로 임무별 데이터 프레임 만들기 : missions

In [20]:
# 빈 데이터 프레임을 만들고 변수 missions에 할당한다.
missions = pd.DataFrame()
missions

Empty DataFrame
Columns: []
Index: []

In [21]:
type(missions)

pandas.core.frame.DataFrame

In [22]:
#rock_samples['Mission']의 중복되지 않은 고유값들을 알아본다.
rock_samples['Mission'].unique()

array(['Apollo11', 'Apollo12', 'Apollo14', 'Apollo15', 'Apollo16',
       'Apollo17'], dtype=object)

In [23]:
#위의 값들을 mission 데이터프레임의 새로운 컬럼인 mission['Mission']에 할당한다.
missions['Mission']=rock_samples['Mission'].unique()
missions

    Mission
0  Apollo11
1  Apollo12
2  Apollo14
3  Apollo15
4  Apollo16
5  Apollo17

In [24]:
# rock_samples 데이터프레임의 'Mission' 컬럼을 기준으로 그룹으로 나눈다 -> groupby()
# 나누어진 그룹에서 'weight (kg)' 컬럼의 총합을 구한다 -> groupby('Mission')['weight (kg)].sum()
# 결국 아폴로 달탐사 임무별로 수집해온 암석 샘플 총중량을 구해서 새로운 변수에 할당한다. -> 이 변수는 시리즈이다.
sample_total_weight = rock_samples.groupby('Mission')['Weight (kg)'].sum()
sample_total_weight

Mission
Apollo11     21.55424
Apollo12     34.34238
Apollo14     41.83363
Apollo15     75.39910
Apollo16     92.46262
Apollo17    109.44402
Name: Weight (kg), dtype: float64

In [25]:
# missions 데이터프레임과 sample_total_weight 시리즈를 병합한다.
missions = pd.merge(missions, sample_total_weight, on='Mission')
missions

    Mission  Weight (kg)
0  Apollo11     21.55424
1  Apollo12     34.34238
2  Apollo14     41.83363
3  Apollo15     75.39910
4  Apollo16     92.46262
5  Apollo17    109.44402

In [26]:
# 애매한 컬럼명인 'Weight (kg)' 을 'Sample weight (kg)'으로 변경한다.
type(missions)
missions.rename(columns={'Weight (kg)' : 'Sample weight (kg)'}, inplace=True)
missions

    Mission  Sample weight (kg)
0  Apollo11            21.55424
1  Apollo12            34.34238
2  Apollo14            41.83363
3  Apollo15            75.39910
4  Apollo16            92.46262
5  Apollo17           109.44402

In [27]:
# 아폴로 임무간의 수집해온 암석 샘플 총중량 차이를 나타내는 컬럼 'Weight diff'를 missions 데이터프레임에 추가한다.
missions['Weight diff'] = missions['Sample weight (kg)'].diff()
missions

    Mission  Sample weight (kg)  Weight diff
0  Apollo11            21.55424          NaN
1  Apollo12            34.34238     12.78814
2  Apollo14            41.83363      7.49125
3  Apollo15            75.39910     33.56547
4  Apollo16            92.46262     17.06352
5  Apollo17           109.44402     16.98140

In [28]:
# 아폴로 11은 그 전 달탐사가 없으므로 비교대상이 없어서 NaN 값을 가지게 되는데 이 값을 0으로 표시한다.
missions.fillna(value=0, inplace=True)
missions

    Mission  Sample weight (kg)  Weight diff
0  Apollo11            21.55424      0.00000
1  Apollo12            34.34238     12.78814
2  Apollo14            41.83363      7.49125
3  Apollo15            75.39910     33.56547
4  Apollo16            92.46262     17.06352
5  Apollo17           109.44402     16.98140

In [29]:
# 달탐사선 = 달모듈 + 명령모듈 --> 이 둘을 합쳐서 승무원 모듈
# 달 모듈의 이름, 중량, 아폴로 임무간 중량차를 나타내는 3개의 컬럼을 missions 데이터프레임에 추가한다.
달모듈이름 = ['Eagle (LM-5)', 'Intrepid (LM-6)', 'Antares (LM-8)', 'Falcon (LM-10)', 'Orion (LM-11)', 'Challenger (LM-12)']
달모듈중량 = [15103, 15235, 15264, 16430, 16445, 16456]

missions['Lunar module (LM)'] = 달모듈이름
missions['LM mass (kg)'] = 달모듈중량
missions

    Mission  Sample weight (kg)  Weight diff   Lunar module (LM)  LM mass (kg)
0  Apollo11            21.55424      0.00000        Eagle (LM-5)         15103
1  Apollo12            34.34238     12.78814     Intrepid (LM-6)         15235
2  Apollo14            41.83363      7.49125      Antares (LM-8)         15264
3  Apollo15            75.39910     33.56547      Falcon (LM-10)         16430
4  Apollo16            92.46262     17.06352       Orion (LM-11)         16445
5  Apollo17           109.44402     16.98140  Challenger (LM-12)         16456

In [30]:
# 아폴로 임무별로 달모듈 중량 차이를 구해서 새로운 컬럼 'LM mass diff'를 만들어서  missions 데이터프레임에 추가한다.
missions['LM mass diff'] = missions['LM mass (kg)'].diff()
missions

,Mission,Sample weight (kg),Weight diff,Lunar module (LM),LM mass (kg),LM mass diff
0,Apollo11,21.55424,0.00000,Eagle (LM-5),15103,NaN
1,Apollo12,34.34238,12.78814,Intrepid (LM-6),15235,132.0
2,Apollo14,41.83363,7.49125,Antares (LM-8),15264,29.0
3,Apollo15,75.39910,33.56547,Falcon (LM-10),16430,1166.0
4,Apollo16,92.46262,17.06352,Orion (LM-11),16445,15.0
5,Apollo17,109.44402,16.98140,Challenger (LM-12),16456,11.0

In [31]:
missions.fillna(value=0, inplace=True)
missions

,Mission,Sample weight (kg),Weight diff,Lunar module (LM),LM mass (kg),LM mass diff
0,Apollo11,21.55424,0.00000,Eagle (LM-5),15103,0.0
1,Apollo12,34.34238,12.78814,Intrepid (LM-6),15235,132.0
2,Apollo14,41.83363,7.49125,Antares (LM-8),15264,29.0
3,Apollo15,75.39910,33.56547,Falcon (LM-10),16430,1166.0
4,Apollo16,92.46262,17.06352,Orion (LM-11),16445,15.0
5,Apollo17,109.44402,16.98140,Challenger (LM-12),16456,11.0

In [32]:
#명령모듈의 이름, 중ㅑㅇ 아폴로임무간 중량차를 나타내는 3개의 개로운 컬럼을 missionms 데이터프레임에 추가한다.
명령모듈이름 = ['Columbia (CSM-107]', 'Yankee Clipper (CM-100])', 'Kitty Hawk (CM-110)', 'Endeavor (CM-112)', 'Casper (CM-113)', 'America (CM-114)']
명령모듈중량 = [5560, 5609, 5758, 5875, 5840, 5960]

missions['Command Module (CM)'] = 명령모듈이름
missions['CM Mass (kg)'] = 명령모듈중량
missions

,Mission,Sample weight (kg),Weight diff,Lunar module (LM),LM mass (kg),LM mass diff,Command Module (CM),CM Mass (kg)
0,Apollo11,21.55424,0.00000,Eagle (LM-5),15103,0.0,Columbia (CSM-107],5560
1,Apollo12,34.34238,12.78814,Intrepid (LM-6),15235,132.0,Yankee Clipper (CM-100]),5609
2,Apollo14,41.83363,7.49125,Antares (LM-8),15264,29.0,Kitty Hawk (CM-110),5758
3,Apollo15,75.39910,33.56547,Falcon (LM-10),16430,1166.0,Endeavor (CM-112),5875
4,Apollo16,92.46262,17.06352,Orion (LM-11),16445,15.0,Casper (CM-113),5840
5,Apollo17,109.44402,16.98140,Challenger (LM-12),16456,11.0,America (CM-114),5960

In [33]:
#아폴로 임무별로 명령모듈 중량 차이를 구해서 새로운 컬럼 'CM Mass diff'를 만들어 missions 데이터프레임에 추가한다.
missions['CM mass diff'] = missions['CM Mass (kg)'].diff()
missions.fillna(value=0, inplace=True)
missions

,Mission,Sample weight (kg),Weight diff,Lunar module (LM),LM mass (kg),LM mass diff,Command Module (CM),CM Mass (kg),CM mass diff
0,Apollo11,21.55424,0.00000,Eagle (LM-5),15103,0.0,Columbia (CSM-107],5560,0.0
1,Apollo12,34.34238,12.78814,Intrepid (LM-6),15235,132.0,Yankee Clipper (CM-100]),5609,49.0
2,Apollo14,41.83363,7.49125,Antares (LM-8),15264,29.0,Kitty Hawk (CM-110),5758,149.0
3,Apollo15,75.39910,33.56547,Falcon (LM-10),16430,1166.0,Endeavor (CM-112),5875,117.0
4,Apollo16,92.46262,17.06352,Orion (LM-11),16445,15.0,Casper (CM-113),5840,-35.0
5,Apollo17,109.44402,16.98140,Challenger (LM-12),16456,11.0,America (CM-114),5960,120.0

In [34]:
# 달 모듈과 명령모듈 중량을 합한 값을 'Total weight (kg)'라는 새로운 컬럼을 만들어 missions 데이터프레임에 추가한다.
missions['Total weight (kg)'] = missions['LM mass (kg)'] + missions['CM Mass (kg)']
missions

,Mission,Sample weight (kg),Weight diff,Lunar module (LM),LM mass (kg),LM mass diff,Command Module (CM),CM Mass (kg),CM mass diff,Total weight (kg)
0,Apollo11,21.55424,0.00000,Eagle (LM-5),15103,0.0,Columbia (CSM-107],5560,0.0,20663
1,Apollo12,34.34238,12.78814,Intrepid (LM-6),15235,132.0,Yankee Clipper (CM-100]),5609,49.0,20844
2,Apollo14,41.83363,7.49125,Antares (LM-8),15264,29.0,Kitty Hawk (CM-110),5758,149.0,21022
3,Apollo15,75.39910,33.56547,Falcon (LM-10),16430,1166.0,Endeavor (CM-112),5875,117.0,22305
4,Apollo16,92.46262,17.06352,Orion (LM-11),16445,15.0,Casper (CM-113),5840,-35.0,22285
5,Apollo17,109.44402,16.98140,Challenger (LM-12),16456,11.0,America (CM-114),5960,120.0,22416

In [35]:
# 승무원 영역을 나타내는 'Total weight (kg)'의 아폴로 임무별 중량 차이를 구하는 새로운 컬럼 'Total weight diff'를 missions 데이터프레임에 추가한다.
missions['Total weight diff'] = missions['Total weight (kg)'].diff()
missions.fillna(value=0, inplace=True)
missions

,Mission,Sample weight (kg),Weight diff,Lunar module (LM),LM mass (kg),LM mass diff,Command Module (CM),CM Mass (kg),CM mass diff,Total weight (kg),Total weight diff
0,Apollo11,21.55424,0.00000,Eagle (LM-5),15103,0.0,Columbia (CSM-107],5560,0.0,20663,0.0
1,Apollo12,34.34238,12.78814,Intrepid (LM-6),15235,132.0,Yankee Clipper (CM-100]),5609,49.0,20844,181.0
2,Apollo14,41.83363,7.49125,Antares (LM-8),15264,29.0,Kitty Hawk (CM-110),5758,149.0,21022,178.0
3,Apollo15,75.39910,33.56547,Falcon (LM-10),16430,1166.0,Endeavor (CM-112),5875,117.0,22305,1283.0
4,Apollo16,92.46262,17.06352,Orion (LM-11),16445,15.0,Casper (CM-113),5840,-35.0,22285,-20.0
5,Apollo17,109.44402,16.98140,Challenger (LM-12),16456,11.0,America (CM-114),5960,120.0,22416,131.0

In [36]:
# 페이로드에서 승무원 영역이 차지하는 비율 구하기 -> 'Crewed area : Payload'
saturnVPayload = 43500
missions['Crewed area : Payload'] = missions['Total weight (kg)'] / saturnVPayload
missions

,Mission,Sample weight (kg),Weight diff,Lunar module (LM),LM mass (kg),LM mass diff,Command Module (CM),CM Mass (kg),CM mass diff,Total weight (kg),Total weight diff,Crewed area : Payload
0,Apollo11,21.55424,0.00000,Eagle (LM-5),15103,0.0,Columbia (CSM-107],5560,0.0,20663,0.0,0.475011
1,Apollo12,34.34238,12.78814,Intrepid (LM-6),15235,132.0,Yankee Clipper (CM-100]),5609,49.0,20844,181.0,0.479172
2,Apollo14,41.83363,7.49125,Antares (LM-8),15264,29.0,Kitty Hawk (CM-110),5758,149.0,21022,178.0,0.483264
3,Apollo15,75.39910,33.56547,Falcon (LM-10),16430,1166.0,Endeavor (CM-112),5875,117.0,22305,1283.0,0.512759
4,Apollo16,92.46262,17.06352,Orion (LM-11),16445,15.0,Casper (CM-113),5840,-35.0,22285,-20.0,0.512299
5,Apollo17,109.44402,16.98140,Challenger (LM-12),16456,11.0,America (CM-114),5960,120.0,22416,131.0,0.515310

In [37]:
# 승무원 영역에서 암석 샘플이 차지하는 비율 구하기 -> 'Sample : Crewed area'
missions['Sample : Crewed area'] = missions['Sample weight (kg)'] / missions['Total weight (kg)']
missions

,Mission,Sample weight (kg),Weight diff,Lunar module (LM),LM mass (kg),LM mass diff,Command Module (CM),CM Mass (kg),CM mass diff,Total weight (kg),Total weight diff,Crewed area : Payload,Sample : Crewed area
0,Apollo11,21.55424,0.00000,Eagle (LM-5),15103,0.0,Columbia (CSM-107],5560,0.0,20663,0.0,0.475011,0.001043
1,Apollo12,34.34238,12.78814,Intrepid (LM-6),15235,132.0,Yankee Clipper (CM-100]),5609,49.0,20844,181.0,0.479172,0.001648
2,Apollo14,41.83363,7.49125,Antares (LM-8),15264,29.0,Kitty Hawk (CM-110),5758,149.0,21022,178.0,0.483264,0.001990
3,Apollo15,75.39910,33.56547,Falcon (LM-10),16430,1166.0,Endeavor (CM-112),5875,117.0,22305,1283.0,0.512759,0.003380
4,Apollo16,92.46262,17.06352,Orion (LM-11),16445,15.0,Casper (CM-113),5840,-35.0,22285,-20.0,0.512299,0.004149
5,Apollo17,109.44402,16.98140,Challenger (LM-12),16456,11.0,America (CM-114),5960,120.0,22416,131.0,0.515310,0.004882

In [38]:
# 페이로드에서 샘플이 차지하는 비율 구하기 -> 'Sample : Payload'
missions['Sample : Payload'] = missions['Sample weight (kg)'] / saturnVPayload
missions

,Mission,Sample weight (kg),Weight diff,Lunar module (LM),LM mass (kg),LM mass diff,Command Module (CM),CM Mass (kg),CM mass diff,Total weight (kg),Total weight diff,Crewed area : Payload,Sample : Crewed area,Sample : Payload
0,Apollo11,21.55424,0.00000,Eagle (LM-5),15103,0.0,Columbia (CSM-107],5560,0.0,20663,0.0,0.475011,0.001043,0.000495
1,Apollo12,34.34238,12.78814,Intrepid (LM-6),15235,132.0,Yankee Clipper (CM-100]),5609,49.0,20844,181.0,0.479172,0.001648,0.000789
2,Apollo14,41.83363,7.49125,Antares (LM-8),15264,29.0,Kitty Hawk (CM-110),5758,149.0,21022,178.0,0.483264,0.001990,0.000962
3,Apollo15,75.39910,33.56547,Falcon (LM-10),16430,1166.0,Endeavor (CM-112),5875,117.0,22305,1283.0,0.512759,0.003380,0.001733
4,Apollo16,92.46262,17.06352,Orion (LM-11),16445,15.0,Casper (CM-113),5840,-35.0,22285,-20.0,0.512299,0.004149,0.002126
5,Apollo17,109.44402,16.98140,Challenger (LM-12),16456,11.0,America (CM-114),5960,120.0,22416,131.0,0.515310,0.004882,0.002516

## artemis_mission 데이터프레임 만들기

In [39]:
artemis_crewedArea = 26520

artemis_dict = {'Mission' : ['artemis1', 'artemis1b', 'artemis2'],
                'Total weight (kg)' : [artemis_crewedArea, artemis_crewedArea, artemis_crewedArea],
                'Payload (kg)' : [26988, 37965, 42955]
               }

artemis_mission = pd.DataFrame(artemis_dict)
artemis_mission

     Mission  Total weight (kg)  Payload (kg)
0   artemis1              26520         26988
1  artemis1b              26520         37965
2   artemis2              26520         42955

In [40]:
# missions 데이터프레임에서 'Crewed area : Payload', 'Sample : Crewed area', 'Sample : payload' 의 평균값을 구한다.
crewedArea_payload_ratio = missions['Crewed area : Payload'].mean()
print(crewedArea_payload_ratio)

sample_crewedArea_ratio = missions['Sample : Crewed area'].mean()
print(sample_crewedArea_ratio)

sample_payload_ratio = missions['Sample : Payload'].mean()
print(sample_payload_ratio)

0.4963026819923371
0.002848764392685611
0.0014369195019157087

In [41]:
# missions 데이터프레임에서 'Sample weight (kg)'의 총합을 구한다.
total_weight = missions['Sample weight (kg)'].sum()
total_weight

375.03598999999997

In [42]:
#artemis_missions 데이터 프레임에 'Sample weight from total (kg)' 컬럼을 추가한다.

artemis_mission['Sample weight from total (kg)'] = artemis_mission['Total weight (kg)'] * sample_crewedArea_ratio
artemis_mission

     Mission  Total weight (kg)  Payload (kg)  Sample weight from total (kg)
0   artemis1              26520         26988                      75.549232
1  artemis1b              26520         37965                      75.549232
2   artemis2              26520         42955                      75.549232

In [43]:
#artemis_mission 데이터프레임에 'Sample weight from payload (kg)' 컬럼을 추가한다.

artemis_mission['Sample weight from payload (kg)'] = artemis_mission['Payload (kg)'] * sample_payload_ratio
artemis_mission

,Mission,Total weight (kg),Payload (kg),Sample weight from total (kg),Sample weight from payload (kg)
0,artemis1,26520,26988,75.549232,38.779584
1,artemis1b,26520,37965,75.549232,54.552649
2,artemis2,26520,42955,75.549232,61.722877

In [44]:
# artemis_mission 데이터프레임에 'Estimated sample weight (kg)' 컬럼을 추가한다.

artemis_mission['Estimated sample weight (kg)'] = (artemis_mission['Sample weight from total (kg)'] + artemis_mission['Sample weight from payload (kg)']) / 2
artemis_mission

,Mission,Total weight (kg),Payload (kg),Sample weight from total (kg),Sample weight from payload (kg),Estimated sample weight (kg)
0,artemis1,26520,26988,75.549232,38.779584,57.164408
1,artemis1b,26520,37965,75.549232,54.552649,65.050940
2,artemis2,26520,42955,75.549232,61.722877,68.636054

##아르테미스 임무에서 가져올 암석 종류 구하기

In [45]:
rock_samples.head()

      ID   Mission    Type   Subtype  Weight (kg)  Pristine (%)
0  10001  Apollo11    Soil  Unsieved       0.1258         88.36
1  10002  Apollo11    Soil  Unsieved       5.6290         93.73
2  10003  Apollo11  Basalt  Ilmenite       0.2130         65.56
3  10004  Apollo11    Core  Unsieved       0.0448         71.76
4  10005  Apollo11    Core  Unsieved       0.0534         40.31

In [46]:
# rock_samples 데이터프레임에 암석샘플의 남은 양을 나타내는 'Remaining (kg)' 컬럼을 만든다.

rock_samples['Remaining (kg)'] = rock_samples['Weight (kg)'] * rock_samples['Pristine (%)'] * 0.01
rock_samples.head()

,ID,Mission,Type,Subtype,Weight (kg),Pristine (%),Remaining (kg)
0,10001,Apollo11,Soil,Unsieved,0.1258,88.36,0.111157
1,10002,Apollo11,Soil,Unsieved,5.6290,93.73,5.276062
2,10003,Apollo11,Basalt,Ilmenite,0.2130,65.56,0.139643
3,10004,Apollo11,Core,Unsieved,0.0448,71.76,0.032148
4,10005,Apollo11,Core,Unsieved,0.0534,40.31,0.021526

In [47]:
rock_samples.describe()

                 ID  Weight (kg)  Pristine (%)  Remaining (kg)
count   2229.000000  2229.000000   2229.000000     2229.000000
mean   52058.432032     0.168253     84.512764        0.138103
std    26207.651471     0.637286     22.057299        0.525954
min    10001.000000     0.000000      0.000000        0.000000
25%    15437.000000     0.003000     80.010000        0.002432
50%    65527.000000     0.010200     92.300000        0.008530
75%    72142.000000     0.093490     98.140000        0.078240
max    79537.000000    11.729000    180.000000       11.169527

In [48]:
# rock_samples['Weight (kg)']의 모든 값이 0.16kg 이상 인지를 알아본다.

rock_samples['Weight (kg)'] >= 0.16

0       False
1        True
2        True
3       False
4       False
        ...
2224    False
2225    False
2226    False
2227    False
2228    False
Name: Weight (kg), Length: 2229, dtype: bool

In [49]:
(rock_samples['Weight (kg)'] >= 0.16) & (rock_samples['Pristine (%)'] <= 50)

0       False
1       False
2       False
3       False
4       False
        ...
2224    False
2225    False
2226    False
2227    False
2228    False
Length: 2229, dtype: bool

In [50]:
#위의 두 조건을 모두 만족하는 행만 추출해서 low_samples라는 데이터 프레임을 만든다.

low_samples = rock_samples.loc[(rock_samples['Weight (kg)'] >= 0.16) & (rock_samples['Pristine (%)'] <= 50)]
low_samples.head()

,ID,Mission,Type,Subtype,Weight (kg),Pristine (%),Remaining (kg)
11,10017,Apollo11,Basalt,Ilmenite,0.973,43.71,0.425298
14,10020,Apollo11,Basalt,Ilmenite,0.425,27.88,0.118490
15,10021,Apollo11,Breccia,Regolith,0.250,30.21,0.075525
29,10045,Apollo11,Basalt,Olivine,0.185,12.13,0.022441
37,10057,Apollo11,Basalt,Ilmenite,0.919,35.15,0.323028

In [51]:
low_samples.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27 entries, 11 to 2183
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              27 non-null     int64
 1   Mission         27 non-null     object
 2   Type            27 non-null     object
 3   Subtype         27 non-null     object
 4   Weight (kg)     27 non-null     float64
 5   Pristine (%)    27 non-null     float64
 6   Remaining (kg)  27 non-null     float64
dtypes: float64(3), int64(1), object(3)
memory usage: 1.7+ KB

In [52]:
# low_samples 데이터프레임에서 암석유형('Type')별로 개수를 센다.

low_samples.groupby('Type')['ID'].count()

Type
Basalt     14
Breccia     8
Core        1
Soil        4
Name: ID, dtype: int64

In [53]:
#low_samples['Type']의 값이 'Basalt'이거나 'Breccia' 인지를 물어본다. -> isin(리스트)

low_samples['Type'].isin(['Basalt', 'Breccia'])

11       True
14       True
15       True
29       True
37       True
39       True
52       True
59      False
68       True
69      False
72       True
94      False
113      True
118      True
120      True
353     False
354     False
426      True
534      True
570      True
575      True
607      True
718      True
722      True
1221     True
1645     True
2183     True
Name: Type, dtype: bool

In [54]:
# low_samples['Type'] 의 값이 'Basalt'이거나 'Breccia'인 행만 추출해서 needed_samples 데이터프레임을 만든다.

needed_samples = low_samples.loc[low_samples['Type'].isin(['Basalt', 'Breccia'])]
needed_samples

,ID,Mission,Type,Subtype,Weight (kg),Pristine (%),Remaining (kg)
11,10017,Apollo11,Basalt,Ilmenite,0.9730,43.71,0.425298
14,10020,Apollo11,Basalt,Ilmenite,0.4250,27.88,0.118490
15,10021,Apollo11,Breccia,Regolith,0.2500,30.21,0.075525
29,10045,Apollo11,Basalt,Olivine,0.1850,12.13,0.022441
37,10057,Apollo11,Basalt,Ilmenite,0.9190,35.15,0.323028
39,10059,Apollo11,Breccia,Regolith,0.1880,36.94,0.069447
52,10072,Apollo11,Basalt,Ilmenite,0.4470,15.22,0.068033
68,12002,Apollo12,Basalt,Olivine,1.5300,49.04,0.750312
72,12006,Apollo12,Basalt,Olivine,0.2064,0.53,0.001094
113,12047,Apollo12,Basalt,Ilmenite,0.1930,33.70,0.065041
118,12053,Apollo12,Basalt,Pigeonite,0.8790,46.43,0.408120
120,12055,Apollo12,Basalt,Pigeonite,0.9120,26.00,0.237120
426,15205,Apollo15,Breccia,Regolith,0.3373,24.70,0.083313
534,15405,Apollo15,Breccia,ImpactMelt,0.5131,35.91,0.184254
570,15475,Apollo15,Basalt,Pigeonite,0.4068,49.60,0.201773
575,15498,Apollo15,Breccia,Regolith,2.3400,34.11,0.798174
607,15555,Apollo15,Basalt,Olivine,9.6140,46.61,4.481085
718,60016,Apollo16,Breccia,Fragmental,4.3070,49.57,2.134980
722,60025,Apollo16,Breccia,Anorthosite,1.8360,43.61,0.800680
1221,66075,Apollo16,Breccia,Fragmental,0.3471,32.97,0.114439
1645,71566,Apollo17,Basalt,Ilmenite,0.4144,45.06,0.186729
2183,79155,Apollo17,Basalt,Ilmenite,0.3188,25.97,0.082792

In [55]:
needed_samples.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22 entries, 11 to 2183
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              22 non-null     int64
 1   Mission         22 non-null     object
 2   Type            22 non-null     object
 3   Subtype         22 non-null     object
 4   Weight (kg)     22 non-null     float64
 5   Pristine (%)    22 non-null     float64
 6   Remaining (kg)  22 non-null     float64
dtypes: float64(3), int64(1), object(3)
memory usage: 1.4+ KB

In [56]:
# needed_samples 데이터프레임에서 'Type'으로 groupby해서 암석 샘플의 총중량의 합을 구한다.abs

needed_samples.groupby('Type')['Weight (kg)'].sum()

Type
Basalt     17.4234
Breccia    10.1185
Name: Weight (kg), dtype: float64

In [57]:
# rock_samples 데이터프레임에서 'Type'으로 groupby 해서 암석 샘플의 중량의 합을 구한다. 
#           -> 아폴로 임무에서 처음부터 수집이 안된 암석을 구한다.

rock_samples.groupby('Type')['Weight (kg)'].sum()

Type
Basalt      93.14077
Breccia    168.88075
Core        19.93587
Crustal      4.74469
Soil        87.58981
Special      0.74410
Name: Weight (kg), dtype: float64

In [58]:
rock_samples['Type'] == 'Crustal'

0       False
1       False
2       False
3       False
4       False
        ...
2224    False
2225    False
2226    False
2227    False
2228    False
Name: Type, Length: 2229, dtype: bool

In [59]:
# rock_samples에서 'Type'이 'Crustal'. 인 행만 추출한다.
crustal = rock_samples.loc[rock_samples['Type'] == 'Crustal']
crustal

,ID,Mission,Type,Subtype,Weight (kg),Pristine (%),Remaining (kg)
497,15361,Apollo15,Crustal,Cataclastic,0.00090,66.56,0.000599
498,15362,Apollo15,Crustal,Cataclastic,0.00420,56.88,0.002389
499,15363,Apollo15,Crustal,Cataclastic,0.00050,71.00,0.000355
540,15415,Apollo15,Crustal,Anorthosite,0.26940,67.07,0.180687
557,15437,Apollo15,Crustal,Anorthosite,0.00100,80.00,0.000800
731,60057,Apollo16,Crustal,Anorthosite,0.00310,100.00,0.003100
733,60059,Apollo16,Crustal,Anorthosite,0.00105,100.00,0.001050
769,60619,Apollo16,Crustal,Anorthosite,0.02800,90.75,0.025410
802,61017,Apollo16,Crustal,Anorthosite,0.00262,100.00,0.002620
831,61226,Apollo16,Crustal,Anorthosite,0.00153,100.00,0.001530
887,61577,Apollo16,Crustal,Anorthosite,0.00021,76.19,0.000160
894,62236,Apollo16,Crustal,Anorthosite,0.05727,76.76,0.043960
895,62237,Apollo16,Crustal,Anorthosite,0.06235,62.81,0.039162
896,62238,Apollo16,Crustal,Anorthosite,0.00157,100.00,0.001570
903,62246,Apollo16,Crustal,Anorthosite,0.00459,95.49,0.004383
1009,64516,Apollo16,Crustal,Anorthosite,0.00293,94.23,0.002761
1012,64519,Apollo16,Crustal,Anorthosite,0.00112,95.55,0.001070
1013,64525,Apollo16,Crustal,Anorthosite,0.00111,86.72,0.000963
1201,65909,Apollo16,Crustal,Anorthosite,0.00202,86.36,0.001744
1203,65916,Apollo16,Crustal,Anorthosite,0.00099,95.98,0.000950
1313,67635,Apollo16,Crustal,Anorthosite,0.00912,87.37,0.007968
1314,67636,Apollo16,Crustal,Anorthosite,0.00323,87.62,0.002830
1315,67637,Apollo16,Crustal,Anorthosite,0.00234,88.68,0.002075
1401,67955,Apollo16,Crustal,Fragmental,0.16260,85.94,0.139738
1721,72415,Apollo17,Crustal,Cataclasite,0.03234,58.89,0.019045
1722,72416,Apollo17,Crustal,Cataclasite,0.01153,64.61,0.007450
1723,72417,Apollo17,Crustal,Cataclasite,0.01132,2.76,0.000312
1724,72418,Apollo17,Crustal,Cataclasite,0.00355,88.25,0.003133
1762,72559,Apollo17,Crustal,Cataclasite,0.02780,95.41,0.026524
1793,73146,Apollo17,Crustal,Cataclasite,0.00301,90.03,0.002710
1957,76235,Apollo17,Crustal,Cataclasite,0.02656,60.36,0.016032
1999,76335,Apollo17,Crustal,Cataclasite,0.50289,97.14,0.488507
2008,76535,Apollo17,Crustal,Troctolite,0.15550,47.89,0.074469
2009,76536,Apollo17,Crustal,Cataclasite,0.01026,93.16,0.009558
2032,77017,Apollo17,Crustal,Cataclasite,1.73000,93.14,1.611322
2037,77077,Apollo17,Crustal,Cataclasite,0.00000,90.64,0.000000
2043,77215,Apollo17,Crustal,Cataclasite,0.84640,93.03,0.787406
2075,78155,Apollo17,Crustal,Cataclasite,0.00000,87.66,0.000000
2086,78235,Apollo17,Crustal,Norite,0.19900,69.76,0.138822
2087,78236,Apollo17,Crustal,Norite,0.00000,87.73,0.000000
2088,78237,Apollo17,Crustal,Norite,0.00000,0.00,0.000000
2089,78238,Apollo17,Crustal,Norite,0.00000,86.03,0.000000
2092,78256,Apollo17,Crustal,Pristine,0.00000,0.00,0.000000
2126,78517,Apollo17,Crustal,Cataclasite,0.00182,82.97,0.001510
2130,78527,Apollo17,Crustal,Cataclasite,0.00516,82.05,0.004234
2189,79215,Apollo17,Crustal,Cataclasite,0.55380,93.33,0.516862

In [60]:
# needed_samples에 crustal을 추가한다.

needed_samples = pd.concat([needed_samples, crustal])
needed_samples

,ID,Mission,Type,Subtype,Weight (kg),Pristine (%),Remaining (kg)
11,10017,Apollo11,Basalt,Ilmenite,0.97300,43.71,0.425298
14,10020,Apollo11,Basalt,Ilmenite,0.42500,27.88,0.118490
15,10021,Apollo11,Breccia,Regolith,0.25000,30.21,0.075525
29,10045,Apollo11,Basalt,Olivine,0.18500,12.13,0.022441
37,10057,Apollo11,Basalt,Ilmenite,0.91900,35.15,0.323028
...,...,...,...,...,...,...,...
2089,78238,Apollo17,Crustal,Norite,0.00000,86.03,0.000000
2092,78256,Apollo17,Crustal,Pristine,0.00000,0.00,0.000000
2126,78517,Apollo17,Crustal,Cataclasite,0.00182,82.97,0.001510
2130,78527,Apollo17,Crustal,Cataclasite,0.00516,82.05,0.004234
2189,79215,Apollo17,Crustal,Cataclasite,0.55380,93.33,0.516862

In [61]:
needed_samples.info()

<class 'pandas.core.frame.DataFrame'>
Index: 68 entries, 11 to 2189
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              68 non-null     int64
 1   Mission         68 non-null     object
 2   Type            68 non-null     object
 3   Subtype         68 non-null     object
 4   Weight (kg)     68 non-null     float64
 5   Pristine (%)    68 non-null     float64
 6   Remaining (kg)  68 non-null     float64
dtypes: float64(3), int64(1), object(3)
memory usage: 4.2+ KB

In [62]:
needed_samples.Type.unique()

array(['Basalt', 'Breccia', 'Crustal'], dtype=object)

In [63]:
needed_samples['Type'].unique()

array(['Basalt', 'Breccia', 'Crustal'], dtype=object)

## needed samples overview 만들기

In [64]:
## 아르테미스 임무에 전달할 최종 데이터프레임 needed_samples_overview 만든다.
needed_samples_overview = pd.DataFrame()
needed_samples_overview

Empty DataFrame
Columns: []
Index: []

In [66]:
# needed samples 데이터프레임에서 중복되지 않은 암석유형을 추출한다.
needed_samples_overview['Type'] = needed_samples.Type.unique()
needed_samples_overview

      Type
0   Basalt
1  Breccia
2  Crustal

In [67]:
# needed_samples 데이터프레임에서 암석유형별('Type') 중량 합을 구한다.

needed_samples.groupby('Type')['Weight (kg)'].sum()

Type
Basalt     17.42340
Breccia    10.11850
Crustal     4.74469
Name: Weight (kg), dtype: float64

In [69]:
needed_sample_weight = needed_samples.groupby('Type')['Weight (kg)'].sum().reset_index()
needed_sample_weight

      Type  Weight (kg)
0   Basalt     17.42340
1  Breccia     10.11850
2  Crustal      4.74469

In [70]:
# 두 데이터프레임을 병합한다.

needed_samples_overview = pd.merge(needed_samples_overview, needed_sample_weight, on='Type')
needed_samples_overview

      Type  Weight (kg)
0   Basalt     17.42340
1  Breccia     10.11850
2  Crustal      4.74469

In [71]:
# 애매한 컬럼명을 변경한다.

needed_samples_overview.rename(columns={'Weight (kg)' : 'Total weight (kg)'}, inplace=True)
needed_samples_overview

      Type  Total weight (kg)
0   Basalt           17.42340
1  Breccia           10.11850
2  Crustal            4.74469

In [73]:
# needed_samples 데이터프레임에서 암석유형별 중량의 평균을 구한다.

needed_sample_ave_weight = needed_samples.groupby('Type')['Weight (kg)'].mean().reset_index()
needed_sample_ave_weight

      Type  Weight (kg)
0   Basalt     1.244529
1  Breccia     1.264813
2  Crustal     0.103145

In [75]:
# 두 데이터프레임을 병합한다.
needed_samples_overview = pd.merge(needed_samples_overview, needed_sample_ave_weight, on='Type')
needed_samples_overview

      Type  Total weight (kg)  Weight (kg)
0   Basalt           17.42340     1.244529
1  Breccia           10.11850     1.264813
2  Crustal            4.74469     0.103145

In [76]:
# 애매한 컬럼명을 변경한다.

needed_samples_overview.rename(columns={'Weight (kg)' : 'Average weight (kg)'}, inplace=True)
needed_samples_overview

      Type  Total weight (kg)  Average weight (kg)
0   Basalt           17.42340             1.244529
1  Breccia           10.11850             1.264813
2  Crustal            4.74469             0.103145

In [79]:
# rock_samples 데이터프레임에서 암석유형별('Type') 개수를 구해서 total_rock_count 라는 데이터프레임을 만든다.

total_rock_count = rock_samples.groupby('Type')['ID'].count().reset_index()
total_rock_count

      Type   ID
0   Basalt  351
1  Breccia  959
2     Core   56
3  Crustal   46
4     Soil  813
5  Special    4

In [80]:
needed_samples_overview = pd.merge(needed_samples_overview, total_rock_count, on='Type')
needed_samples_overview

      Type  Total weight (kg)  Average weight (kg)   ID
0   Basalt           17.42340             1.244529  351
1  Breccia           10.11850             1.264813  959
2  Crustal            4.74469             0.103145   46

In [81]:
# 애매한 컬럼명을 변경한다.

needed_samples_overview.rename(columns={'ID' : 'Number of samples'}, inplace=True)
needed_samples_overview

      Type  Total weight (kg)  Average weight (kg)  Number of samples
0   Basalt           17.42340             1.244529                351
1  Breccia           10.11850             1.264813                959
2  Crustal            4.74469             0.103145                 46

In [82]:
# needed_samples_overview['Number of samples'] 의 총합을 구하고 total_rocks에 할당

total_rocks = needed_samples_overview['Number of samples'].sum()
total_rocks

1356

In [83]:
# 각 암석유형별로 차지하는 비율을 구해서 'Percentage of rocks'라는 컬럼에 할당한다.
needed_samples_overview['Percentage of rocks'] = needed_samples_overview['Number of samples'] / total_rocks
needed_samples_overview

,Type,Total weight (kg),Average weight (kg),Number of samples,Percentage of rocks
0,Basalt,17.42340,1.244529,351,0.258850
1,Breccia,10.11850,1.264813,959,0.707227
2,Crustal,4.74469,0.103145,46,0.033923

In [84]:
artemis_mission

,Mission,Total weight (kg),Payload (kg),Sample weight from total (kg),Sample weight from payload (kg),Estimated sample weight (kg)
0,artemis1,26520,26988,75.549232,38.779584,57.164408
1,artemis1b,26520,37965,75.549232,54.552649,65.050940
2,artemis2,26520,42955,75.549232,61.722877,68.636054

In [85]:
# artemis_mission['Estimated sample weight (kg)']의 평균을 구해서 Artemis 달탐사의 에상 암석 중량을 구한다.

artemis_ave_weight =  artemis_mission['Estimated sample weight (kg)'].mean()
artemis_ave_weight

63.61713411579792

In [86]:
# needed_samples_overview['Weight to collect'] 컬럼을 만든다.

needed_samples_overview['Weight to collect'] = needed_samples_overview['Percentage of rocks'] * artemis_ave_weight
needed_samples_overview

,Type,Total weight (kg),Average weight (kg),Number of samples,Percentage of rocks,Weight to collect
0,Basalt,17.42340,1.244529,351,0.258850,16.467267
1,Breccia,10.11850,1.264813,959,0.707227,44.991764
2,Crustal,4.74469,0.103145,46,0.033923,2.158103

In [87]:
# 수집할 각각의 암석 개수를 알려준다.

needed_samples_overview['Rocks to collect'] = needed_samples_overview['Weight to collect'] / needed_samples_overview['Average weight (kg)']
needed_samples_overview

,Type,Total weight (kg),Average weight (kg),Number of samples,Percentage of rocks,Weight to collect,Rocks to collect
0,Basalt,17.42340,1.244529,351,0.258850,16.467267,13.231731
1,Breccia,10.11850,1.264813,959,0.707227,44.991764,35.571884
2,Crustal,4.74469,0.103145,46,0.033923,2.158103,20.922917